<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.js Calculator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="light.css" id="theme">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body class="body">
    <main id="app">
      <section class="calculator">
      <h1 class="main-title">Calculator</h1>
      <div class="top-buttons">
        <button class="top-buttons__button">
          <i class="fab fa-github"></i>
          <a class="top-buttons__button-link" target="_blank" href="https://github.com/armandupe/vue-calculator">GitHub</a>
        </button>
        <button class="top-buttons__button" @click="switchTheme()" id="dark-mode">Dark Mode 🌙</button>
      </div>
      <div class="first-row row">
        <input class="calculator_input result" type="text" name="result" id="result" value="" placeholder="Result" readonly>
        <input class="calculator_input clear" type="button" value="C" @click="clearScreen()">
      </div>
      <div class="row">
        <input v-for="input in inputsFirstRow" class="calculator_input" type="button" v-bind:value="input.key" @click="inputHandler(input.key)">
      </div>
      <div class="row">
        <input v-for="input in inputsSecondRow" class="calculator_input" type="button" v-bind:value="input.key" @click="inputHandler(input.key)">
      </div>
      <div class="row">
        <input v-for="input in inputsThirdRow" class="calculator_input" type="button" v-bind:value="input.key" @click="inputHandler(input.key)">
      </div>
      <div class="row">
        <input v-for="input in inputsFourthRow" class="calculator_input" type="button" v-bind:value="input.key" @click="inputHandler(input.key)">
        <input class="calculator_input" type="button" value="=" @click="result()">
      </div>
      </section>
    </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/f28b055962.js" crossorigin="anonymous"></script>
  <script src="script.js" async defer></script>
</body>
</html>